.mod-benefit {
  &::after {
    content: '';
    @apply absolute left-0 z-a-1 bottom-0 h-full opacity-50 w-full;
    background-image: linear-gradient(to top, #0a2035 43%, #1c467f 151%);
  }
  .benefit-title {
    &::after {
      content: '';
      height: 1px;
      @apply absolute mt-1 w-50 bg-blue-100 md:mt-7;
    }
  }
  .content-text {
    line-height: 1.44;
  }
}



