.banner-stu {
  &-title {
    h1 {
      @apply md:w-2/3 md:mt-7;
    }
  }
  h1 {
    @apply text-white md:w-2/3;
  }
  h3 {
    @apply text-white tracking-sp4;
  }

  .img-desktop {
    min-height: 472px;
  }
}

.banner-stu-content {
  h3 {
    @apply font-normal tracking-sp6;
    @apply md:font-semibold;
  }
  .content-title {
    &::before {
      content: '';
      @apply absolute z-2 opacity-40  bg-white -right-100vw left-0 md:-bottom-18 -bottom-7;
      height: 1px;
    }
  }
  .content-column {
    &-impact {
      &::before {
        content: '';
        width: 1px;
        @apply hidden absolute bg-white h-full left-0 opacity-50 md:block;
      }
    }
    .list-disc {
      &-items {
        @apply md:max-w-520 md:w-full;
      }
    }
  }
}
