.mod-option {
  .line-border {
    &::after {
      content: '';
      @apply absolute z-2 -right-100vw -left-100vw h-px bg-blue-100 mt-10;
    }
  }
  .icomoon {
    @apply text-2xl;
  }
  h3 {
    @apply mb-2 tracking-sp6;
  }
  h5 {
    @apply md:mb-0;
  }
}
.option-header {
  .item-button {
    min-width: 166px;
    &:not(:first-child) {
      @apply border-l-0;
    }
    @apply border-1 px-5 py-7 cursor-pointer border-blue-100  text-xs font-semibold font-body bg-transparent text-center;
    @apply lg:px-15 lg:py-7 md:text-xl md:font-semibold md:leading-tight200 md:tracking-normal;
    &.active {
      @apply bg-blue-100 text-blue-50;
    }
  }
}
.option-items {
  &::after {
    content: '';
    @apply absolute z-3 right-0p w-100p left-0p h-px bg-blue-100;
  }
  .btn {
    @apply py-7 mb-12;
    @apply lg:px-29 lg:mb-0 lg:py-9;
  }

}
