
.banner {
  @apply bg-blue-400 relative z-1 w-100p py-25;
  @apply lg:mt-30;

  &::before {
    content: "";
    background-image: url('../../../assets/images/bk-CTA.png');
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: -5%;
    background-size: cover;
    background-position: center bottom;
    height: 80%;
    width: 43.5%;
    background-repeat: no-repeat;
    margin-bottom: -50px;
    @apply hidden;
    @apply lg:block;
  }
  img {
    @apply w-100p h-[300px] relative z-9999;
    @apply lg:max-w-440 lg:-mt-50 2xl:ml-50;
  }
  h1 {
    @apply text-white;
  }
  &-content {
    @apply text-white  mx-auto px-25;
    @apply lg:flex lg:justify-between;
    &-title {
      @apply pt-12 after:absolute after:w-50 after:bg-blue-100 after:h-[1px] uppercase;
      @apply md:max-w-540 md:w-full;
    }

    &-text {
      @apply w-100p text-xs leading-normal;
      @apply md:text-base xl:max-w-460 xl:w-full;
    }
  }
  &-title {
    @apply text-center text-white pt-22 pb-12;
  }

}
.banner-hide-mb {
  @apply hidden;
  @apply lg:text-blue-400 lg:my-50 lg:block;
}
