.mod-topic  {
  .topic-content {
    max-width: 685px;
  }
  .topic-fixed {
    &.fixed {
      @apply relative;
      @apply lg:fixed lg:top-44;
    }
    &.absolute {
      @apply relative;
      @apply lg:absolute lg:top-44;
    }
    &-social {
      .icomoon {
        font-size: 26px;
      }
      a {
        @apply px-5;
      }
    }

  }
  .topic-slide {
    .slide-title {
      &::after {
        content: '';
        height: 1px;
        @apply absolute w-50 bg-blue-100;
      }
    }
    &-items {
      max-width: 372px;
      &:not(:last-child) {
        @apply md:mr-14;
      }
      &::after {
        content: '';
        @apply absolute w-5 h-33 hidden -left-5 mt-17 bg-blue-400 md:block;
      }
    }
  }
}

