<section class="mod-option">
  <div class="container option-content lg:pl-70">
    <div class="option-header">
      <div class="option-title">
        <h6>OPEN POSITIONS</h6>
      </div>
        <div class="option-button">
          <a class="item-button active">ALL LOCATIONS</a>
          <a class="item-button">ALL DEPARTMENTS</a>
        </div>
    </div>
    <div class="line-border"></div>
    <div class="option-main">
        {% for option in options %}
        <div class="option-items">
          <div class="option-items-title">
            <div class="title-text">
              <h3>{{ option.title }}</h3>
            </div>
              <div class="name-text">
                <h5>{{ option.name }}</h5>
              </div>
              <button class="btn-toggle" type="button">
                <i class="icomoon icon-arrow_drop_down"></i>
              </button>
              {% if loop.first %}
              <div class="lg:mb-0 lg:mt-24 hidden lg:block">
                <button class="btn btn-outline-primary">aplly now</button>
              </div>
              {% else %}
              <div class="lg:my-24 hidden lg:block">
                <button class="btn btn-outline-primary">aplly now</button>
              </div>
              {% endif %}

          </div>
          <div class="lg:hidden block">
            <h5>{{ option.name }}</h5>
          </div>
          {% if loop.first %}
              <div class="option-desc">
                <div class="option-desc-text">
                  <p>{{ option.desc }}</p>
                </div>
                    <div class="my-10 lg:mt-33 lg:mb-15">
                      <button class="btn-border-left">VIEW FULL DESCRIPTION</button>
                  </div>
                </div>
          {% else %}
          <div class="option-desc hidden">
            <div class="option-desc-text">
              <p>{{ option.desc }}</p>
            </div>
              <div class="my-10">
                <button class="btn-border-left">VIEW FULL DESCRIPTION</button>
            </div>
          </div>
          {% endif %}
            <div class="lg:hidden">
              <button class="btn btn-outline-primary  md:w-50p w-full">APPLY NOW</button>
            </div>
        </div>
        {%endfor%}
    </div>
  </div>
</section>
