<section class="mod-option relative z-1  pt-21 md:mt-35 lg:mt-9">
  <div class="container option-content lg:pl-70">
    <div class="option-header">
      <div class="option-title lg:py-8">
        <h6>OPEN POSITIONS</h6>
      </div>
        <div class="flex">
          <a class="item-button active">ALL LOCATIONS</a>
          <a class="item-button">ALL DEPARTMENTS</a>
        </div>
    </div>
    <div class="line-border"></div>
    <div class="option-main  mt-12 md:mt-32">
        {% for option in options %}
        <div class="option-items md:relative z-2">
          <div class="option-items-title flex justify-between items-center mt-7 lg:mt-0">
            <div class="lg:max-w-580 md:max-w-400 mt-8 md:mt-0 md:w-full">
              <h3>{{ option.title }}</h3>
            </div>
              <div class=" hidden lg:max-w-180 lg:w-full lg:block">
                <h5>{{ option.name }}</h5>
              </div>
              <button class="transition duration-300 ease-in-out" type="button">
                <i class="icomoon icon-arrow_drop_down"></i>
              </button>
              {% if loop.first %}
              <div class="lg:mb-0 lg:mt-24 hidden lg:block">
                <button class="btn btn-outline-primary">aplly now</button>
              </div>
              {% else %}
              <div class="lg:my-24 hidden lg:block">
                <button class="btn btn-outline-primary">aplly now</button>
              </div>
              {% endif %}

          </div>
          <div class="lg:hidden block">
            <h5>{{ option.name }}</h5>
          </div>
          {% if loop.first %}
              <div class="text-lg leading-normal tracking-sp6 lg:max-w-[800px] lg:w-full">
                <div class="font-sans text-base tracking-sp6 text-blue-400
                lg:mt-9 lg:font-semibold md:text-lg md:leading-normal">
                  <p>{{ option.desc }}</p>
                </div>
                    <div class="mb-10 mt-4 lg:mt-33 lg:mb-15">
                      <button class="btn-border-left">VIEW FULL DESCRIPTION</button>
                  </div>
                </div>
          {% else %}
          <div class="option-desc hidden">
            <div class="option-desc-text">
              <p>{{ option.desc }}</p>
            </div>
              <div class="mb-10 mt-4">
                <button class="btn-border-left">VIEW FULL DESCRIPTION</button>
            </div>
          </div>
          {% endif %}
            <div class="lg:hidden">
              <button class="btn btn-outline-primary  md:w-50p w-full">APPLY NOW</button>
            </div>
        </div>
        {%endfor%}
    </div>
  </div>
</section>
